<span class="h-[27px] w-[27px] aspect-square bg-primary bg-transparent rounded-lg">
    <img
    class="w-[350px] sm:w-[300px]"
    src="/favicon.svg"
    alt="Mario Gonzalez - FullStack Developer - icon"
    loading="lazy"
  />
</span>
