<section
  class="flex flex-col-reverse sm:flex-row pt-16 pb-20 items-center gap-16"
>
  <article class="flex flex-col gap-10">
    <h1
      class="font-extrabold text-light-texto-primary dark:text-dark-texto-primary text-3xl sm:text-4xl"
    >
      Sobre mi<span class="text-primary">.</span>
    </h1>
    <div
      class="flex flex-col gap-4 text-[1.1rem] text-light-texto-secondary dark:text-dark-texto-secondary"
    >
      <p>
        Trabajo con software y hardware desde chico, reparando, solucionando y
        creando. Al descubrir la programación y las posibilidades de crear y
        controlar el software del cual antes solo era usuario, creó en mí una
        gran pasión.
      </p>
      <p>
        Me impulsa la colaboración con equipos que comparten mi pasión por la
        programación y buscan generar un impacto positivo a través del
        desarrollo de productos y servicios innovadores.
      </p>
    </div>
  </article>
  <img
    class="w-[350px] sm:w-[300px]"
    src="/photo.webp"
    alt="Mario Gonzalez - FullStack Developer"
    loading="lazy"
  />
</section>
